*{
    scroll-behavior: smooth;
}
.navbar-text
{
    border-right: 1px solid white; 
   font-size: 22px;
   font-weight: bold;
 transition: .5s;
 cursor: pointer;
}
.navbar-text:hover
{
    text-shadow: 2px -2px 14px rgb(239, 233, 228);
}
.form-control
{
    display: block;
    width: 100%;

} 
.d-flex
{
    margin-left: auto;
}
.carousel-inner .carousel-caption{
    background: rgba(200, 200, 200, 0.3);
    border-radius: 7px;
}
.dropdown-menu
{
   
    background: -webkit-linear-gradient(left, #545352, rgb(23, 22, 22)); 
}
.navbar 
{
    background: -webkit-linear-gradient(left, #545352, rgb(23, 22, 22)); 
}
.btn1
{
    background: -webkit-linear-gradient(left, #767675, rgb(43, 43, 42));
}

.card-text
{
    color: rgb(244, 247, 247);

}
.card
{
    background: -webkit-linear-gradient(left, #212121, rgb(81, 80, 80));
}

.btn3 {
    color: #444;
    cursor: pointer;
    padding: 14px ;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.8s;
    background: -webkit-linear-gradient(left, #323232, rgb(182, 181, 181));
  }
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  span
  {
    text-align: right;
  }
.fixedimg
{
    background-image: url(../image/Screenshot\ \(146\).png);
    height: 250px;
    background-attachment: fixed;
    background-size: cover;

}
.title
{
    text-align: center;
    padding-top: 50px;
    font-family: sans-serif;
}
.img 
{
    width: 30px;
    height: 30px;
   
}
.container-fluid
{
    background: -webkit-linear-gradient(top,rgb(27, 26, 26),rgb(254, 254, 254),rgb(35, 36, 35));
}